
@font-face {
  font-family: 'icomoon';
	src:url('../../../css/micons/fonts/icomoon.eot?8pq1w');
	src:url('../../../css/micons/fonts/icomoon.eot?#iefix8pq1w') format('embedded-opentype'),
		url('../../../css/micons/fonts/icomoon.woff?8pq1w') format('woff'),
		url('../../../css/micons/fonts/icomoon.ttf?8pq1w') format('truetype'),
		url('../../../css/micons/fonts/icomoon.svg?8pq1w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}



* {
  box-sizing: border-box;
  font: normal 8px "Overpass", sans-serif;
}
body {
  background: #121212;
}
h1 {
  color: #fff;
  font-size: 18px;
  float: left;
  padding: 0 40px;
  text-transform: uppercase;
}
.main-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrapper {
  box-shadow: 0 0 40px rgba(51, 59, 102, 0.5);
  display: none;
  width: 80%;
}
.cards {
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 10px;
}
.listen-wrap {
  overflow: hidden;
}
.listen-wrap ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.listen-wrap ul li {
  border-right: 1px solid #eee;
  color: #8e8e8e;
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  text-align: left;
  text-transform: uppercase;
}
.listen-wrap ul li:first-child {
  padding-left: 0;
}
.listen-wrap ul li:last-child {
  border-right: 0;
  padding-right: 0;
}
.listen-wrap ul li span {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}
.count {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 46px !important;
  margin-right: 10px;
}
.percent {
  color: #4a4a4a;
  font-size: 12px;
  /*font-weight: 350;
  letter-spacing: -4px;
  line-height: 46px !important;*/
  margin-right: 10px;
}
.chart-wrapper {
  background: #333b66;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  clear: both;
  padding: 20px 0 10px;
}
text {
  font-size: 12px;
  fill: #a7b2eb;
}
label {
  font-size: 12px;
  fill: #a7b2eb;
}
.axis path, .axis line, .gridline line {
  fill: none;
  stroke: #fff;
  opacity: 0.1;
  shape-rendering: crispEdges;
}
.line {
  stroke: #17ead9;
  stroke-width: 3px;
  fill: none;
}
path.domain {
  fill: none;
  opacity: 0.1;
}
div.tooltip {
  color: #4a4a4a;
  position: absolute;
  text-align: center;
  padding: 3px 6px;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  pointer-events: none;
}
.tick text {
  font-size: 10px;
}
.vbroadcast-legend {
  /*float: right;*/
  margin-right: 40px;
  margin-top: 16px;
}
.vbroadcast-legend input label {
  float: left;
  color: #fff;
}
.vbroadcast-legend li:first-child {
  margin-left: -30px;
}
.vbroadcast-legend li {
  color: #fff;
  font-size: 10px;
  float: left;
  list-style: none;
  margin-left: 10px;
  padding-left: 14px;
  position: relative;
  padding-top: 5px;
}
.vbroadcast-legend li:before {
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 12px;
}
.vbroadcast-legend li.cases:before {
  background: #CCDBDC;
}
.vbroadcast-legend li.deaths:before {
  background: #ED254E;
}
.vbroadcast-legend li.recovered:before {
  background: #71B340;
}

 
 
#cumule {
    float: right;
    font-family: segoe ui;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    color: #fff;
    display: inline;
    margin-right: -30px;
  }
   
  .cumule_nok {
    border: 3px solid rgb(180, 140, 150);
    background: rgb(150,110,120);
  }
   
  .cumule_ok {
    border: 3px solid rgb(140, 180, 150);
    background: rgb(110,150,120);
  }


.mapButton_nok {
  float: right;
  font-family: segoe ui;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  color: #fff;
  display: inline;
  margin-right: -30px;

  border: 3px solid rgb(180, 140, 150);
  background: rgb(150,110,120);
}

.mapButton_ok {
  float: right;
  font-family: segoe ui;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  color: #fff;
  display: inline;
  margin-right: -30px;

  border: 3px solid rgb(140, 180, 150);
  background: rgb(110,150,120);
}



#chart {
  height: 500px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}





/*
.container #tooltip {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 4px rgba(66,66,78,0.2);
  line-height: 2;
  transition: all 0.2s ease-out;
}
*/















 .waffle-chart-legend--items {
   display: inline-block;
   margin-left: 10px;
}
 .waffle-chart-legend--text {
	 display: inline-block;
   margin-right: 10px;
   font-size: 20px;
}
 .rect {
	 width: 15px;
   height: 15px;
	 float: left;
	 margin-right: 10px;
}
 

path.region {
  fill:#ffffff;
  stroke:#646462;
  stroke-width:3.5;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none
}

text#regionName {
  font-size: 306px;
  fill: #000000;
}
text#cases {
  font-size: 306px;
  fill: #E6C229;
}

text#recovered {
  font-size: 306px;
  fill: #71B340;
}

text#deads {
  font-size: 306px;
  fill: #ED254E;
}






.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: #793ea5;
}

.circular-menu.circular-menu-left:after {
  background-color: #793ea5;
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
}


.fa-1:before {
  content: "1"; }

.fa-2:before {
  content: "2"; }

.fa-3:before {
  content: "3"; }

.fa-4:before {
  content: "4"; }
