body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: #121212;
}
.navbar-light .navbar-brand {
    width: 100%;
    text-align: center;
    color: #fff;
}
.navbar-light .navbar-brand:hover {
    color: aliceblue;
    cursor: pointer;
}

.days .day {
    color: #2980b9;
}

text {
    font-size: 13px;
}

footer a {
    color: #fff;
    transition: all 0.3s;
}

footer a:hover {
    color: #34495e;
    text-decoration: none;
}

.bg-info {
    background: #793ea5 !important;
}

.jumbotron {
    background: rgba(44,62,80 ,0.33);
    color: #fff;
}

text {
    color: #fff !important;
    z-index: 999999999;
}